<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="default"
         name="Default Style"
         point="org.eclipse.core.runtime.products">
      <product
            application="default"
            name="eXo Platform Documentation">
         <property
               name="preferenceCustomization"
               value="exo.ini">
         </property>
      </product>
   </extension>
</plugin>